body {
    width: 100%;
    margin: 0;
    padding: 0;
    color:#ffff;
    background-color: black;
}

.header {
    text-align: center;
    padding: 2px;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.footer {
    text-align: center;
    margin-top: 18em;
}

.btn {
    width: 80px;
    padding: 5px;
    background-color: purple;
    color: white;
}

